.grabbing {
    cursor: pointer;
}

.piece {
    display: flex;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    position: absolute;

    img {
        display: block;
        width: 70%;
        height: 70%;
        aspect-ratio: 1 / 1;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }
}