.boardWrapper {
    background-color: rgb(58, 156, 58);
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    user-select: none;
    position: relative;
    border-radius: 4px;
    height: 80vh;

    &.boardHover {
        cursor: grabbing;
    }
}