.boardWrapper {
    display: block;
    aspect-ratio: 1 / 1;
    user-select: none;
    position: relative;
    border-radius: 4px;
    max-height: calc(100vh - 80px);
    max-width: calc(100vw - 80px);
    width: 650px;

    &.boardHover {
        cursor: grabbing;
    }
}