.cellWrapper {
    width: 12.5%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.349);
    position: relative;

    &.white {
        background-color: #eeeed2;
    }
    &.black {
        background-color: #769656;
    }
    &.selected {
        background-color: #bbcb2b;
    }

    &:hover.hoverEffectOnGrab::before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid rgb(241, 238, 9) 3px;
    }
}