.cellWrapper {
    width: 12.5%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.349);

    &.white {
        background-color: #eeeed2;
    }
    &.black {
        background-color: #769656;
    }
}