.cell {
    display: block;
    position: absolute;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.16);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
}

.piece {
    display: block;
    left: 50%;
    top: 50%;
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.16);
    border-style: solid;
    border-width: 8px;
}