.pieceWrapper {
    z-index: 1;
    padding: 12px;

    img {
        aspect-ratio: 1;
        width: 100%;
        filter: drop-shadow(1px 1px 0 black) 
                drop-shadow(-1px -1px 0 black)
                drop-shadow(-1px 1px 0 black)
                drop-shadow(1px -1px 0 black);
    }
}